* {
    font-family: "Segoe UI", sans-serif;
    font-size: 100%;
    color: black;
}

#container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    /* padding-left: 30px;
    padding-right: 30px; */
}

#button:disabled {
    color: #9e9e9e;
}

table, th, td {
    border: 1px solid #aaaaaa;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    background-color: #65a7e0;
    color: #fff;
    font-weight: normal;
}

td {
    white-space: pre;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

ul, #myUL {
    list-style-type: none;
}

/* Style ul and caret/arrow */

#ul_tree {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.orange {
    color: orange;
}