* {
    font-family: "Segoe UI", "Lucida Grande", sans-serif;
    font-size: 100%;
    color: black;
}

#container {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
}

.left {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    background-color: #65a7e0;
}

#selector {
    background-color: #65a7e0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#selector option {
    color: #fff;
}

#button_clear, #button_update {
    background-color: #65a7e0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#button_update {
    margin: 0 12px;
}

#button_clear:disabled, #button_update:disabled {
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
    cursor: default;
}

ul {
    list-style-type: none;
    user-select: none;
}

#ul_tree {
    padding: 15px;
    margin: 0;
}

.caret {
    cursor: grab;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 5px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

table, th, td {
    border: 1px solid #aaaaaa;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    background-color: #65a7e0;
    color: #fff;
    font-weight: normal;
}

td {
    white-space: pre;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.orange {
    color: orange;
}

.middle_text {
    font-style: italic;
    color: #aaaaaa;
    text-align: center;
}